<!!DOCTYPE html>
<html>
<head></head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading">Modificar password del usuario</div>
		<div class="panel-body">
			<div style="margin: 0% 30% 0% 30%">
			<form method="post" action="/modifipass/<%= session.user.confirmationToken %>?_method=put">
				<div class="row">
					Password: <input class="form-control" type="text" name="changepass" size="30" placeholder="Correo" autofocus/>
				</div>
				<br/>
				<input class="btn btn-default" type="submit" value="Cambiar pass" id="submit" />
			</form>
			</div>
		</div>
	</div>
</body>
</html>
