	<div class="panel panel-default">
		<div class="panel-heading">Login</div>
		<div class="panel-body">
			<div>
				<form method="post" action="login">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-4">
							</div>
							<div class="col-xs-12 col-sm-4">
								<div class="row">
									<input class="form-control" type="text" id="login" name="login" size="30" placeholder="Correo" autofocus/>
								</div>
								<hr>
								<div class="row">
									<input class="form-control" type="password" id="password" name="password" size="30" placeholder="Contraseña" data-toggle="tooltip" data-placement="right" title="Longitud mínima de 8 caracteres, debe contener al menos una mayúscula, una minúscula y un número."/>
								</div>
								<hr>
								<div class="row">
									<input class="btn btn-default" name="commit" type="submit" value="Login"/>
								</div>
								<hr>
								<div class="row">
									<a href="/students">Regístrate</a>
									<br/><br/>
									<a href="/modifipass">He olvidado mi contraseña</a>
								</div>
							</div>
							<div class="col-sm-12 col-md-4">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
