
		<div class="panel panel-default">
			<div class="panel-heading">Modificar password del usuario</div>
			<div class="panel-body">
				<div style="margin: 0% 30% 0% 30%">
				<p>Se ha mandado un mensaje a su email para continuar con el proceso.</p>
				</div>
			</div>
		</div>
