
    <h1>¿Qué es placeForMe?</h1>
    <p>placeForMe es una aplicación creada por estudiantes de la FISS en la junior empresa Magna SIS para estimar la demanda de las asignaturas en 3º y 4º curso.</p>
    <p>Desde la pestaña "Mis asignaturas" podrás ver todas las asignaturas dsiponibles para el siguiente curso académico y cuántos estudiantes están demandando la misma.</p>
