
	<div class="up_down_margin">
	    <h1 style="font-style: bold ">¿Qué es placeForMe?</h1>
	    <p>placeForMe es una aplicación creada por estudiantes de la FISS (Facultad de Informática de San Sebastián) en la Junior Empresa Magna SIS para estimar la demanda de las asignaturas en 3º y 4º curso.</p>
	    <p>Una vez registrado, desde la pestaña "Mis asignaturas" podrás ver todas las asignaturas disponibles para el siguiente curso académico y cuántos estudiantes están demandando la misma.</p>
	    <br><br>
	    <div class="row"><div class="col-md-12">
	    <img src="/img/asignaturas.png" heidht="800" width="800" class="img-responsive"/>
	    </div></div>
	    
    </div>