<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>placeForMe</title>
	<link rel='stylesheet' href='/bootstrap-3.3.5-dist/css/bootstrap.css' />
	<script  src="scripts/myScriptEstudiante.js" type="text/javascript" />
</head>

<body>
<div class="panel panel-default">
	<div class="panel-body">
		<h1 align="center">placeForMe</h1>

		<div align="right">
			<% if (!session.user) { %>
				<form action="/login">
					<button class="btn btn-default" type="submit">Login</button>
				</form>
			<% }else{ %>
				<form method="post" action="/logout?_method=delete">
					<button class="btn btn-default" type="submit">Logout</button>
				</form>
			<% } %>
		</div>

		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
        				<li><a href="/">Inicio</a></li>
        				<% if (session.user) { %>
							<% if ( session.user.role==="ADMIN") { %>
								<li><a href="/manager">Gestión de usuarios</a></li>
							<% } %>
							<% if ( session.user.role==="STUDENT") { %>
								<li><a href="/students/courses">Mis Asignaturas</a></li>
							<% } %>
							<% if ( session.user.role==="STUDENT") { %>
								<li><a href="/students/edit">Editar mi cuenta</a></li>
							<% } %>
							<% if ( session.user.role==="ADMIN" || session.user.role==="MANAGER") { %>
								<li><a href="/course">Gestión de asignaturas</a></li>
							<% } %>
						<% } %>
					</ul>
				</div>
			</div>
		</nav>

		<section  id="s1">
			<div>
				<% if ( !(typeof errors==="undefined") && errors.length) { %>
					<div class="errors">
					<% for (var i in errors) { %>
						<div align="center" class="alert alert-danger alert-dismissible" role="alert">
							<%= errors[i].message %>
						</div>
					<% } %>
				<% } %>
			</div>
			<div align="center">
				<%- body %>
			</div>
		</section>
	</div>
	<div class="panel-footer" align="center">
		placeForMe  Copyright (C) 2015 by Magna SIS <magnasis@magnasis.com>
	</div>
</div>
</body>
</html>
