<div style="margin: 0% 25% 0% 25%">
    <h2>Términos y condiciones de uso</h2>
    <p>
        Los datos incorporados en nuestra base de datos son utilizados únicamente para fines estadísticos.
        </p><p>
        En cumplimiento de lo dispuesto en la Ley Orgónica 15/1999 de 13 de Diciembre, de Protección de Datos de Carácter Personal (LOPD), podrás en todo momento ejercitar los derechos de acceso, rectificación, cancelación y oposición, simplemente enviándonos un correo electrónico o bien accediendo al apartado "Editar prfil" de tu cuenta.
        </p><p>
        El acceso y/o uso de la aplicación atribuye a quien lo realiza la condición de usuario, aceptando, desde ese mismo momento, plenamente y sin reserva alguna, las presentes Condiciones Generales así como las Condiciones Particulares que, en su caso, complementen, modifiquen o sustituyan las Condiciones Generales en relación con determinados servicios y contenidos de la aplicación.:
        </p><p>
        El usuario se compromete a utilizar la aplicación y sus servicios y contenidos sin contravenir la legislación vigente, la buena fe y los usos generalmente aceptados.
        Asimismo, queda prohibido, el uso de la Web con fines ilícitos o lesivos contra Magna SIS que puedan causar perjuicio o impedir el normal funcionamiento de la Web.
        </p><p>
        El uso de la Web se realizará bajo la única y exclusiva responsabilidad del Usuario.
        Dicha responsabilidad se extenderá al uso, por parte del usuario o de cualquier tercero, de cualesquiera contraseña o similares asignadas para el acceso al Web o a cualesquiera de sus servicios.
        </p><p>
        Magna SIS se reserva el derecho a anular y/o cancelar cualquier cuenta de usuario que no respete las condiciones y terminos expuestos.
        </p><p>
        Así mismo, Magna SIS se reserva el derecho a no tramitar ninguna gestión que considere fraudulenta, ya sea por error técnico, datos erroneos del usuario o mala fé.
    </p>
</div>