/* Icon */

.icon48
{
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url('/img/icons48.png');
    text-indent: -9999em;
}
.up_down_margin{
    margin: 5% 0% 5% 0%;
}
.icon48-1 { background-position: 0px 0px; }
.icon48-2 { background-position: -48px 0px; }
.icon48-3 { background-position: -96px 0px; }
.icon48-4 { background-position: -144px 0px; }
.icon48-5 { background-position: -192px 0px; }
.icon48-6 { background-position: -240px 0px; }
.icon48-7 { background-position: -288px 0px; }
.icon48-8 { background-position: -336px 0px; }
.icon48-9 { background-position: -384px 0px; }
.icon48-10 { background-position: -432px 0px; }

.error  {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.center{
    text-align: center;
}

.vertical_move {
    resize: vertical;
}

.centered{
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
}

div.social {
    overflow: hidden;
}

div.social div {
    display: block;
    border-radius: 5px;
   
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    -o-transition: background-color .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
    float: left;
}

div.social div:first-child {
    margin-left: 0;
}

div.social div.facebook {
    background: #3c5a98;
}

div.social div.facebook:hover {
    background: #4c6aa8;
}

div.social div.twitter {
    background: #2daae4;
}

div.social div.twitter:hover {
    background: #3dbaf4;
}

div.social div.dribbble {
    background: #c4376b;
}

div.social div.dribbble:hover {
    background: #d4477b;
}

div.social div.linkedin {
    background: #006599;
}

div.social div.linkedin:hover {
    background: #1075a9;
}

div.social div.tumblr {
    background: #2b4661;
}

div.social div.tumblr:hover {
    background: #3b5671;
}

div.social div.googleplus {
    background: #da2713;
}

div.social div.googleplus:hover {
    background: #ea3723;
}

.footer-logo {
    width: 200px;
}

.heading {
    opacity: 1.0;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.clickable_row:hover{
    background: lightgrey;
}