*                    { margin: 0; padding: 0; }

#page-wrap           { margin: 2% auto; color: white; }


#page-wrap > .main   { border: 1px solid #999; padding: 1%; 
	                   margin-bottom: 1px; color: black;}

section > div        { padding: 20px; }

nav{ background: #eee; text-align: center;}
 
section { 
	//background-image: url("/img/head_texture.jpg");
	text-align: center;
}

header { 	
	background: #eee; 
	text-align: center;}
	
footer               { background: #eee; text-align: center;}
nav span             { margin: 0px 10px 0px 0px;
  					   width: 100%;
  					   display: inline-block;}

.errors {
	background: #ffffff; 
	text-align: center;
	color: #f11; 
	font-size: smaler
}

.body{ 
	font: 16px Georgia, serif; 
	//background-image: url("/img/head_texture.jpg");
	background: #eee;
	min-height: 400px;
}

.left-menu{
	font: 16px Georgia, serif; 
	//background-image: url("/img/head_texture.jpg");
	background: #eee;
	min-height: 400px;
}

.right 				 {float: right;}

.quiz_img 			 { height: 150px; float: left;}