<h1>Manager</h1>

<form method="post" action="manager">
	<input type="text" placeholder="Nombre" name="email"/>
	<input type="password" name="password" placeholder="Contraseña">
	<input type="submit" value="Registrar">
</form>
