<div class="panel panel-default">
		<div class="panel-heading">Crear nuevo estudiante</div>
		<div class="panel-body">
			<div style="margin: 0% 30% 0% 30%">
				<form method='post' action='/manager/createStudent/<%=user.id%>' onsubmit="return validar();" >
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-4">
							</div>
							<div class="col-xs-12 col-sm-4">
								<div class="form-group">
									<div class="row">
										<div class="col-md-6">
											<label for="name">Nombre: </label>
										</div>
										<div class="col-md-6">
											<input autofocus required class="form-control" type="text" name="name" placeholder="Nombre" id="name" pattern="(^[a-zA-Z ñÑáéíóúÁÉÍÓÚ]{1,20}$)" data-toggle="tooltip" data-placement="right" title="Solo letras, no admite caracteres especiales ni numéricos."/>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<label for="lastname">Apellido: </label>
										</div>
										<div class="col-md-6">
											<input class="form-control" required type="text" name="lastname" id="lastname" placeholder="Apellido" pattern="(^[a-zA-Z ñÑáéíóúÁÉÍÓÚ]{1,20}$)" data-toggle="tooltip" data-placement="right" title="Solo letras, no admite caracteres especiales ni numéricos."/>
										</div>
									</div>						
									<div class="row">
										<div class="col-md-6">
											<label for="year1">Año que voy a cursar: </label>
										</div>
										<div class="col-md-6">
											<select class="form-control" id="year" name="year">
												<option value="3">3</option>
												<option value="4">4</option>
											</select>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<label for="nota">Nota media: </label>
										</div>
										<div class="col-md-6">
											<input required name="avg" id="avg" class="form-control" type="text" pattern="(^((\d\.\d[\d]?)|(10)(\.0)[0]?)$)" placeholder="Nota media" data-toggle="tooltip" data-placement="right" title="Debe ser un número entre 0.0 y 10.0">
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<label for="credito">Créditos: </label>
										</div>
										<div class="col-md-6">
											<input required name="credits" id="credits" class="form-control" type="number" min="0" max="240" placeholder="Créditos" data-toggle="tooltip" data-placement="right" title="El número de créditos debe ser entre 0 y 240">
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<label for="esp">Especialización: </label>
										</div>
										<div class="col-md-6">
											<select class="form-control" id="specialisation" name="specialisation">
												<option value="C">Computación</option>
												<option value="IC">Ingeniería de Computadores</option>
												<option value="IS">Ingeniería del Software</option>
											</select>
										</div>
									</div>
									<div class="row">
										<div class="checkbox>
					       					<label for="condiciones">
					       						<input type="checkbox" id="condiciones" name="condiciones" value="aceptado" required   />
					       						He leído y acepto los <a href="/terms">términos y condiciones de uso</a>.
					   						</label>
										</div>
									</div>
									<div class="row">
										<input class="btn btn-default" type="submit"  value="Crear"  />
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
