	<div class="panel panel-default">
		<div class="panel-heading">Crea tu contraseña</div>
		<div class="panel-body">
			<% if(email){ %>
				<p>Escribe la nueva contraeña para el usuario <b><%= email %></b> de <u>tipo gestor académico</u>.</p>
			<% } %>
			<div>
				<form method="post" action="/manage/createpassword?_method=put">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-4">
							</div>
							<div class="col-xs-12 col-sm-4">
								<input autofocus type="password" name="put_password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Nueva contraseña">
								<hr>
								<input type="submit" class="btn btn-default" value="Crear contraseña">
								<input type="hidden" name="token" value="<%= token %>">
							</div>
							<div class="col-xs-12 col-sm-4">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
