<!DOCTYPE html>
<html>
<head></head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading">Editar mi perfil</div>
		<div class="panel-body" style="margin: 0% 30% 0% 30%">
			<form>
				<div class="row">
					<div class="col-md-6">
						<label for="name_edit">Nombre</label>
					</div>
					<div class="col-md-6">
						<input autofocus name="name_edit" id="name_edit" class="form-control" type="text" placeholder="">
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-6">
						<label for="surname_edit">Apellido</label>
					</div>
					<div class="col-md-6">
						<input name="surname_edit" id="surname_edit" class="form-control" type="text" placeholder="">
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-6">
						<label for="year">Año que voy a cursar</label>
					</div>
					<div class="col-md-6">
						<input name="year" id="year" class="form-control" type="text" placeholder="">
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-6">
						<label for="avg_edit">Nota media</label>
					</div>
					<div class="col-md-6">
						<input name="avg_edit" id="avg_edit" class="form-control" type="text" placeholder="">
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-6">
						<label for="credits_edit">Créditos</label>
					</div>
					<div class="col-md-6">
						<input name="credits_edit" id="credits_edit" class="form-control" type="text" placeholder="">
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-6">
						<label for="specialization_edit">Especialización</label>
					</div>
					<div class="col-md-6">
						<input name="specialization_edit" id="specialization_edit" class="form-control" type="text" placeholder="">
					</div>
				</div>
				<hr>
				<div class="row">
					<input class="btn btn-default" type="submit">
				</div>
			</form>
		</div>
	</div>
</body>
</html>