	<div class="panel panel-default">
		<div class="panel-heading">Registrarse</div>
		<div class="panel-body">
			<div style="margin: 0% 40% 0% 40%">
				<form method='post' action='students' >
			<!--	<form method='post' action='students' onsubmit="return check()"> -->
					<div class="row">
						<input autofocus required class="form-control" type="text" name="name" placeholder="Nombre" id="name" pattern="(^[a-zA-Z ñÑáéíóúÁÉÍÓÚ]{1,20}$)"/>
					</div>
					<hr>
					<div class="row">
						<input class="form-control" required type="text" name="lastname" id="lastname" placeholder="Apellido" pattern="(^[a-zA-Z ñÑáéíóúÁÉÍÓÚ]{1,20}$)"/>
					</div>
					<hr>
					<div class="row">
						<input class="form-control" required type="text" pattern="(^([a-zA-Z])+(\d{3})+\@ikasle.ehu.eus$)" placeholder="tuCorreo@ikasle.ehu.eus" name="email" id="email"/>
					</div>
					<hr>
					<div class="row">
						<input class="form-control" required type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="text" placeholder="Contraseña" name="password" id="password"/>
					</div>
					<div class="row">
						<input class="form-control" required type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="text" placeholder="Repite Contraseña" name="password1" id="password1" />
					</div>
					<hr>
					<div class="row">
						<input class="btn btn-default" type="submit"  value="Registrarse" />
					</div>
				</form>
			</div>
		</div>
	</div>
