

<!DOCTYPE html>
<html>
<head>
	<!--
		Author: W3layouts
		Author URL: http://w3layouts.com
		License: Creative Commons Attribution 3.0 Unported
		License URL: http://creativecommons.org/licenses/by/3.0/
	-->
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading">Registrarse</div>
		<div class="panel-body">
			<div style="margin: 0% 40% 0% 40%">
				<form method='post' action='students'>
					<div class="row">
						<input autofocus required class="form-control" type="text" name="name" placeholder="Nombre" id="active">
					</div>
					<hr>
					<div class="row">
						<input class="form-control" required type="text" name="lastname" placeholder="Apellido">
					</div>
					<hr>
					<div class="row">
						<input class="form-control" required type="text" placeholder="tuCorreo@ikasle.ehu.eus" name="email">
					</div>
					<hr>
					<div class="row">
						<input class="form-control" required type="password" class="text" placeholder="Contraseña" name="password">
					</div>
					<hr>
					<div class="row">
						<input class="btn btn-default" type="submit"  value="Registrarse" >
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>