
<div class="main">

		<div class="clear"> </div>
      </div>
      <h2>Or Signup with</h2>
		<form method='post' action='students'>
		   <div class="lable">
		        <div class="col_1_of_2 span_1_of_2">	<input type="text" class="text" name="name"  id="active" pattern="(^[a-zA-Z ñÑáéíóúÁÉÍÓÚ]{1,20}$)" placeholder="Nombre" data-toggle="tooltip" data-placement="right" title="Solo letras, no admite caracteres especiales ni numéricos."></div>
                <div class="col_1_of_2 span_1_of_2"><input type="text" class="text" placeholder="Apellidos" pattern="(^[a-zA-Z ñÑáéíóúÁÉÍÓÚ]{1,20}$)" name="lastname" data-toggle="tooltip" data-placement="right" title="Solo letras, no admite caracteres especiales ni numéricos."></div>
                <div class="clear"> </div>
		   </div>
		   <div class="lable-2"l>
		        <input type="text" class="text" placeholder="tuCorreo@ikasle.ehu.eus" pattern="(^([a-zA-Z])+(\d{3})+\@ikasle.ehu.eus$)" name="email" data-toggle="tooltip" data-placement="right" title="Debe ser un correo válido de la UPV/EHU.">
		        <input type="password" class="text" placeholder="Password " pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="password" data-toggle="tooltip" data-placement="right" title="Longitud mínima de 8 caracteres, debe contener al menos una mayúscula, una minúscula y un número.">
		   </div>

		   <div class="submit">
			  <input type="submit"  value="Registrarse" >
		   </div>
		   <div class="clear"> </div>
		</form>
		<!-----//end-main---->
		</div>
