
<!DOCTYPE html>
<html>
<head></head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading">Administrador de asignaturas</div>
		<div class="panel-body">
			<div class="row">
				<a href="/course/new"><button class="btn btn-default" type="button">Crear asignatura</button></a>
			</div>
			<hr>
			<div class="row">
				<a href="/course/allcourses"><button class="btn btn-default" type="button">Mostrar asignaturas</button></a>
			</div>
		</div>
	</div>
</body>
</html>
