<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>Administrador de Asignatura </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head> 

<body>

	<h1>Administrador de Asignaturas</h1><br/><br/>
	
	<a href="/course/new"><button type="button">Crear asignatura</button></a>
	<br/><br/>
	<a href="/course/allcourses"><button type="button">Mostrar asignaturas</button></a>
	
	
</body> 
</html>